pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  displayName: 'Install Node.js'
  inputs:
    versionSpec: '8.x'

- script: npm install
  displayName: 'NPM Install'

- script: npm run build -- --force
  displayName: 'NPM build'

- task: CopyFiles@2
  displayName: 'Copy DashParser dts'
  inputs:
    sourceFolder: src/dash/parser
    contents: 'DashParser.d.ts'
    targetFolder: build/es5/src/dash/parser

- task: CopyFiles@2
  displayName: 'Copy X2JS dts'
  inputs:
    sourceFolder: externals
    contents: 'xml2json.d.ts'
    targetFolder: build/es5/externals

- task: Npm@1
  displayName: 'NPM Publish'
  inputs:
    command: publish
    publishEndpoint: 'npm registry'
